body {
    margin: 0;
    padding: 0;
    background: white;
    text-align: left;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.entry .entry-content p {
  font-size: 16px;
  color: black;
  font-style: normal;
  line-height: 32px;
}
h3, .h3, h4, .h4 {
  font-size: 16px;
  line-height: 1.5;
}
.btn-secondary {
  color: #1a73e8;
  background-color: #f4f8fe;
  border: 0.5px solid #dadce0;
  box-shadow: none;
  border-radius: 5px;
}

.portfolio-creative .portfolio-title h4 {
  font-size: 24px;
}
ul.list li {
  font-size: 16px;
}
.heading p {
  line-height: 40px;
}
.service .service-panel p {
  color: black;
}
.hades.tparrows {
  visibility: hidden;
}
#about-small {
  width: 50%;
}
  img#oldweb {
    max-width: 100%;
  }
  img#su-small {
    max-width: 60%;
  }
  img.fit-interview{
    max-width: 60%;
  }
  img.fit-sketch{
    max-width: 80%;
  }
  section {
    padding-bottom: 50px;
  }
  .process-2 {
    padding-bottom: 0px;
  }
  .testimonial-panel .testimonial-content {
    margin-bottom: 0px;
  }
  .taco {
    max-width: 30%;
  }
 .author-name {
   padding-top: 40px;
 }
 .about-1 .about-content p {
   color: #444444;
   font-size: 20px;
   line-height: 30px;
 }
 p {
  color: #444444;
  font-size: 16px;
 }
 .heading p {
   font-size: 16px;
 }
 .service .service-panel p {
  font-size: 16px;
 }
 .process .process-panel p {
  font-size: 16px;
  color: #666666;
 }
 #fittext {
  font-style: italic;
  color: #25d4ce;
  font-weight: bold;
  font-size: 20px;
 }
 .heading-2 h2:before {
   background-color: #efefef;
 }
 .heading-2 h2:after {
  display: none;
 }
 .resume {
   font-size: 16px;
 }
 .resume {
   list-style: square;
 }
 li.has-dropdown > a:before, li.dropdown-submenu > a:before {
   display: none;
 }
 .carousel-navs .owl-nav .owl-prev:before, .carousel-navs .owl-nav .owl-next:before {
   color: black;
 }
 .carousel-navs .owl-nav [class*=owl-] {
   background-color: white;
 }
 .email a {
   font-size: 13px;
   color: #9b9b9b;
 }
 a {
   color: blue;
   font-size: 18px;
 }
 .email {
  line-height: 13px;
 }
.fa-heart {
  color: red;
}
 @media only screen and (min-width: 768px) {
  #logor {
    position: fixed;
  }
 }